*
	transition: all 0.2s

.btn-submit
	margin-top: 10px

.todo-list-container
	margin-top: 20px

.todo-heading-container
	height: inherit
	flex: 2
	margin-right: 10px

	.todo-heading
		display: inline
		word-break: break-all

.todo-input-container
	margin-top: 20px

.todo-container
	margin-bottom: 20px
	display: flex
	justify-content: space-between
	align-items: center

.todo-checkbox
	margin: 0px 10px 0px 0px !important

.remove-button
	float: right

.btn
	&:focus
		outline: none !important

#app
	margin-top: 30px

.buttons-section
	button
		margin-left: 5px !important